<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
    <h1 style="padding: 1rem;">New Article</h1>
    <form action="SaveForm" method="post">
        <%- include('_form_fields.ejs') %>
    </form>
</body>
</html>